html{
color-scheme: light dark;
}

body {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
  box-sizing: border-box;
}

.container {
    /* Je n'ai pas utilisé flex car ça ne créait pas toujours une grille carrée, certaines tailles affichaient la dernière rangée avec moins de carrés que les autres. J'ai donc combiner cela avec grid-template-columns pour avoir un parfait carré peu importe la taille : https://www.w3schools.com/cssref/pr_grid-template-columns.php */
  display: grid;
  max-width: 400px;
  width: 100%;
  height: 400px;
  overflow: hidden;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 450px) {
  .container {
    max-width: 200px;
    width: 100%;
    height: 200px;
  }
}

.gridSquare {
  border: 0.25px solid rgb(0, 0, 0);
  box-sizing: border-box;
  margin: 0;
}

.color-palette {
  margin-top: 10px;
}

.slider {
  margin-top: 12px;
}

.color {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 10px;
}

/*https://stackoverflow.com/questions/44209345/how-to-increase-the-length-size-of-html5-input-type-of-range*/
input[type="range"] {
  width: 35%;
}

#current-size {
  font-size: 18px;
}

label { font-size: 18px; }